

* {
    font-family:  Georgia,Garamond;
}

.body{ 
    background-color: gray;
}

.container{
    padding-right: 45%;
}


.tla{
    width: 200%;
    white-space: auto;
}


.error{
    color: red;
}

h1 {
    text-align: center;
}


.centrar{
    width: 80%;
    margin-left: 10%;
}