

.i_newpass {
    width: 75%;
    background-color: aquamarine;
    margin-left: 30px;

}


* {
    font-family:  Georgia,Garamond;
}



h2{
    text-align: center;
}


.error{
    color: red;
}


.centrar{
    width: 80%;
    margin-left: 10%;
}