
<ion-header>
  <ion-toolbar>
    <div class="container">
      <div class="tla">
        <img src="assets/img/tla.PNG" alt="">
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label>SOBRE NOSOTROS</ion-label>
      <ion-icon  class="icono" name="thumbs-up-outline"></ion-icon>
    </ion-item>
    <br>
    <ion-card-content>
      <h4>
        TeLlevoAPP es una aplicación destinada a los estudiantes de Duoc UC, los cuales atraves del sistema
        podran acceder a los servicios  de transporte ofrecidos por otros estudiantes.
      </h4>
    </ion-card-content>
  </ion-card>
    <ion-button  class="centrar" expand="block" (click)="siguiente()">VOLVER</ion-button>

</ion-content>
