<ion-header>
  <ion-toolbar>
    <div class="container">
      <div class="tla">
        <img src="assets/img/tla.PNG" alt="">
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-card>

    <ion-card-header>
      <ion-title>Evalua</ion-title>
    </ion-card-header>

    <form [formGroup]="ionicForm" (ngSubmit)="submitForm(post)" novalidate>

      <ion-item class="ion-padding-horizontal">
        <ion-label position="floating">Titulo</ion-label>
        <ion-input formControlName="title" type="text"  [(ngModel)]="post.title"></ion-input>
      </ion-item>

      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.title.errors?.required">
      Titulo es requerido.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.title.errors?.minlength">
      Debe Contener 3 caracteres minimo.
      </span>

      <ion-item class="ion-padding-horizontal">
        <ion-label position="floating">Opinion</ion-label>
        <ion-input formControlName="opinion" type="text"  [(ngModel)]="post.body"></ion-input>
      </ion-item>
      
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.opinion.errors?.required">
      Opinion es requerida.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.opinion.errors?.minlength">
      Debe contener 5 caracteres minimo
      </span>

      <ion-grid>
        <ion-row>
          <ion-col><ion-button shape="round" expand="block" (click)="limpiar()">Limpiar</ion-button></ion-col>
          <ion-col><ion-button type="submit" shape="round" expand="block">Guardar</ion-button></ion-col>
        </ion-row>
      </ion-grid>

    </form>

    <ion-button  class="centrar" expand="block" (click)="volver()">VOLVER</ion-button>
    <br>

  </ion-card>