


* {
    font-family:  Georgia,Garamond;
}

.body{ 
    background-color: gray;
}


.container{
    padding-right: 45%;
}

.tla{
    width: 200%;
    white-space: auto;
}    

.auto{
    width: 500px;
    padding-right: 100%;
}    



.centrar{
    width: 80%;
    margin-left: 10%;
    height: 34px;
}




.error{
    color: red;
}