<ion-content >
  <br>
    <h2>Soporte TeLlevoAPP</h2>
  <br>

  <ion-item>
    <ion-button class="centrar2" expand="block" (click)="nosotros()">Nosotros</ion-button> 
    &nbsp; &nbsp;
    <ion-icon  class="icon" name="hand-left-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-button class="centrar2" expand="block" (click)="ayuda()">Ayuda</ion-button> 
    &nbsp; &nbsp; 
    <ion-icon  class="icon" name="help-circle-outline"></ion-icon>
  </ion-item> 

  <br><br><br>

  <ion-button class="centrar" expand="block" (click)="salir()">SALIR</ion-button> 

</ion-content>